html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

#map {
  height: 95%;
  padding: 0;
  padding-top: 0;
  margin: 0;
}

#sidebar {
  padding-top: 0;
}

#type_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

#type_selector li.active:hover {
  background-color: #428bca;
}

#date_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

#date_selector li.active:hover {
  background-color: #428bca;
}

#distance_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

#distance_selector li.active:hover {
  background-color: #428bca;
}

#custom_distance {
  margin-left: 40px;
  width: 80%;
}

#show_position {
  margin-left: 45px;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}
